<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>{{ name|escape }}</title>
  <style>
    body {
      background-color: #faf9f7;
      font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .policy {
      text-decoration: none;
      color: grey;
    }
    .logo {
      vertical-align: text-top;
    }
    #footer {
      padding-top: 30px;
    }
  </style>
  <meta content="width=320" name="viewport" />
</head>
<body>
<h1><img class="logo" src="img/Squaredar_32.png"> {{ name|escape }}</h1>
  <div class="description">
    <p>{{ description|escape }}</p>
  </div>
  <div class="auth">
    <a id="auth" href="{{ auth_url }}">
      <img src="img/connect-white.png" />
    </a>
  </div>
  <div class="authed" style="display: none;"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript">
    client_id = "{{ client_id }}";
    $.getJSON('/isAuthd',
              function(config) {
                if (config) {
                  $('div.auth').hide();
                  $('div.authed').show();
                }
              });
  </script>
  <div id="footer">
    <p class="policy">
      <a class="policy"
        href="http://www.privacychoice.org/policy/mobile?policy=03c5af63d513b3efb7e327d8c416fcac"
        >Privacy Policy</a> - 
        Created by <a class="policy" href="https://twitter.com/ak">@ak</a> - Logo by <a class="policy" href="https://twitter.com/jeremylv/">@jeremylv</a>
    </p>
  </div>
</body>
</html>